body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.header, .container form {
  text-align: center;
  margin: 1em 0;
}

.container form {
  margin: 4em 0;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

thead {
  text-align: left;
  padding-bottom: 1.2em;
  background-color: paleturquoise;
}

td, th {
  border: 1px solid #dddddd;
  padding: .4em;
}

